@*
@page "/MatchHistory"
@using BlazorApp3.Common.Type
@using Enum
@using BlazorApp3.Common.Manager
@using BlazorApp3.Protocol

<PageTitle>내전 전적</PageTitle>
<DisplayPage/>
<div class="wrapper">
    <div class="home-container">
<br><br><br>

@if (isLoading)
{
    <MatProgressBar Indeterminate="true"></MatProgressBar>
}
else
{
    @if (logMatchHistoryList.Count > 0)
    {
        <div style="display: flex; flex-direction: column; align-items: center;">
            $1$<img src="matchHistoryImage.jpg" alt="Example Image" style="width: 330px; height: 170px;" />#1#
            <div style="text-align: center;">
                <div id="container" class style="width: 100%; height: 700px; overflow: auto; margin-top: 10px">
                    <table id="Border-Solid" style="display: inline-block; margin-right: 20px;" class="table ta2le-border table-hover w-auto">
                        <thead style="position: sticky; top: 0; background-color: #f5f5f5;">
                        <tr class="table-primary">
                            <th>날짜</th>
                            <th>1팀</th>
                            <th>2팀</th>
                            <th>승리팀</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var logMatchHistory in logMatchHistoryList)
                        {
                            <tr>
                                <td>@logMatchHistory.Time.ToString("yyyy-MM-dd")</td>
                                <td>@logMatchHistory.Team1Data</td>
                                <td>@logMatchHistory.Team2Data</td>

                                @if (logMatchHistory.Team1Win > 0)
                                {
                                    <td>1</td>
                                }
                                else if (logMatchHistory.Team2Win > 0)
                                {
                                    <td>2</td>
                                }
                                else
                                {
                                    <td><button type="submit" class="btn btn-success" disabled="@(!canClick)" @onclick="@(e => Team1WinBtnAsync(logMatchHistory))">1팀 승</button><button type="submit" class="btn btn-info" disabled="@(!canClick)" @onclick="@(e => Team2WinBtnAsync(logMatchHistory))">2팀 승</button></td>
                                }
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br><br>
    }
    else
    {
        <p3>No Match History Data</p3>
    }
}
	</div>
</div>

<Footer></Footer>
*@
