@page "/Ranking"
@using BlazorApp3.Protocol
@using BlazorApp3.Common.Manager


<PageTitle>랭킹</PageTitle>
<DisplayPage/>
<div class="wrapper">
    <div class="home-container">
	
        <br><br><br>
        <div style="text-align: center;">
@if (isLoading)
{
    <MatProgressBar Indeterminate="true"></MatProgressBar>
}
else
{
    @if (RankingInfo == null)
    {
        <p3>No Rank Data</p3>
    }
    else
    {
        @if (RankingInfo.TotalRankList.Count > 0)
        {
            <button type="submit" class="btn btn-warning" @onclick="@ResetRankingBtnAsync">랭크 초기화</button>
            <br><br>
        }
        <div class="d-flex justify-content-center">
        <MatTabGroup @bind-ActiceIndex="@tabIndex" Style="width: 900px; color: #198754">
            @if (RankingInfo?.TotalRankList.Count > 0)
            {
                <MatTab Label="전체">
                    <br><br>
                    <table id="Border-Solid" class="table table-border table-hover w-auto">
                        <thead>
                        <tr class="table-primary">
                            <th>랭킹</th>
                            <th>닉네임</th>
                            <th>승리</th>
                            <th>패배</th>
                            <th>승률</th>
                        </tr>
                        </thead>
                        <tbody>
                        @for (int i = 0; i < RankingInfo.TotalRankList.Count; i++)
                        {
                            <tr>
                                <td>@(i + 1)</td>
                                <td>@RankingInfo.TotalRankList[i].NickName</td>
                                <td>@RankingInfo.TotalRankList[i].WinCount</td>
                                <td>@RankingInfo.TotalRankList[i].LoseCount</td>
                                <td>@RankingInfo.TotalRankList[i].WinRate%</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </MatTab>

                <MatTab Label="탑">
                    <br><br>
                    <table id="Border-Solid" class="table table-border table-hover w-auto">
                        <thead>
                        <tr class="table-primary">
                            <th>랭킹</th>
                            <th>닉네임</th>
                            <th>승리</th>
                            <th>패배</th>
                            <th>승률</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach(var item in RankingInfo.TopRankList)
                        {
                            <tr>
                                <td>@item.Rank</td>
                                <td>@item.NickName</td>
                                <td>@item.WinCount</td>
                                <td>@item.LoseCount</td>
                                <td>@item.WinRate%</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </MatTab>

                <MatTab Label="정글">
                    <br><br>
                    <table id="Border-Solid" class="table table-border table-hover w-auto">
                        <thead>
                        <tr class="table-primary">
                            <th>랭킹</th>
                            <th>닉네임</th>
                            <th>승리</th>
                            <th>패배</th>
                            <th>승률</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach(var item in RankingInfo.JgRankList)
                        {
                            <tr>
                                <td>@item.Rank</td>
                                <td>@item.NickName</td>
                                <td>@item.WinCount</td>
                                <td>@item.LoseCount</td>
                                <td>@item.WinRate%</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </MatTab>
        
                <MatTab Label="미드">
                    <br><br>
                    <table id="Border-Solid" class="table table-border table-hover w-auto">
                        <thead>
                        <tr class="table-primary">
                            <th>랭킹</th>
                            <th>닉네임</th>
                            <th>승리</th>
                            <th>패배</th>
                            <th>승률</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach(var item in RankingInfo.MidRankList)
                        {
                            <tr>
                                <td>@item.Rank</td>
                                <td>@item.NickName</td>
                                <td>@item.WinCount</td>
                                <td>@item.LoseCount</td>
                                <td>@item.WinRate%</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </MatTab>
        
                <MatTab Label="원딜">
                    <br><br>
                    <table id="Border-Solid" class="table table-border table-hover w-auto">
                        <thead>
                        <tr class="table-primary">
                            <th>랭킹</th>
                            <th>닉네임</th>
                            <th>승리</th>
                            <th>패배</th>
                            <th>승률</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach(var item in RankingInfo.AdcRankList)
                        {
                            <tr>
                                <td>@item.Rank</td>
                                <td>@item.NickName</td>
                                <td>@item.WinCount</td>
                                <td>@item.LoseCount</td>
                                <td>@item.WinRate%</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </MatTab>
        
                <MatTab Label="서폿">
                    <br><br>
                    <table id="Border-Solid" class="table table-border table-hover w-auto">
                        <thead>
                        <tr class="table-primary">
                            <th>랭킹</th>
                            <th>닉네임</th>
                            <th>승리</th>
                            <th>패배</th>
                            <th>승률</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach(var item in RankingInfo.SupRankList)
                        {
                            <tr>
                                <td>@item.Rank</td>
                                <td>@item.NickName</td>
                                <td>@item.WinCount</td>
                                <td>@item.LoseCount</td>
                                <td>@item.WinRate%</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </MatTab>
            }
            else
            {
                <p3>No Rank Data</p3>
            }

        </MatTabGroup>
        </div>
    }
}
</div>
</div></div>

<Footer></Footer>
