@*
@page "/UserManager"
@using BlazorApp3.Common.Manager
@using BlazorApp3.Common.Type
@using BlazorApp3.Protocol
@using Enum

@inject IMatToaster Toaster

<PageTitle>Home</PageTitle>
<DisplayPage/>
<div class="wrapper">
    <div class="home-container">
        <main>
            <section class="content">
                <div class="search-container" style="display: flex; align-items: center;">
                    <div style="display: flex; flex-direction: column; align-items: center;">
                        $1$<img src="UserSearchImage.jpg" alt="Example Image" style="width: 280px; height: 130px;"/>#1#
                        <br>
                        <MatAccordion>
                            <MatButton OnClick="@OpenDialog" Raised="true">유저 추가하기 ⊕</MatButton>
                            <MatDialog @bind-IsOpen="@dialogIsOpen">
                                <MatDialogContent>
                                    <p>
                                        <MatTextField @bind-Value="@nickNameToAdd" Label="NickName"></MatTextField>
                                    </p>
                                </MatDialogContent>
                                <MatDialogActions>
                                    <MatButton OnClick="@CloseDialog">닫기</MatButton>
                                    <MatButton OnClick="@AddNewUserBtnAsync">추가하기</MatButton>
                                </MatDialogActions>
                            </MatDialog>
                        </MatAccordion>
                        <br>
                        <div style="display: flex; align-items: center; margin-top: 10px;">
                            <MatTextField @bind-Value="@searchedNickName" Label="Enter NickName" Icon="search" style="line-height: 2.8; height: 2.8em; margin-right: 10px;"></MatTextField>
                            <button type="button" class="btn btn-secondary" style="line-height: 2.8; height: 2.8em;" @onclick="@SearchUserAsync">Search</button>
                        </div>
                    </div>
                </div>
            </section>
            
            <br><br>
            <div class="d-flex justify-content-center">
                @if (userInfo != null)
                {
                    <div>
                        <br>
                        <table id="Border-Solid" class="table table-border table-hover w-auto">
                            <tbody>
                            <tr>
                                <th>닉네임</th>
                                <td><input type="text" size="20" @bind="@userInfo.UserName"></td>
                            </tr>
                            </tbody>
                        </table>
                        
                        <br>
                        <table id="Border-Solid" class="table table-border table-hover w-auto">
                            <thead>
                            <tr class="table-primary">
                                <th>라인</th>
                                <th>Win</th>
                                <th>Lose</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Top</td>
                                <td><input type="text" @bind="topWinRateHistory.WinCount"></td>
                                <td><input type="text" @bind="topWinRateHistory.LoseCount"></td>
                            </tr>
                            <tr>
                                <td>Jungle</td>
                                <td><input type="text" @bind="jgWinRateHistory.WinCount"></td>
                                <td><input type="text" @bind="jgWinRateHistory.LoseCount"></td>
                            </tr>
                            <tr>
                                <td>Mid</td>
                                <td><input type="text" @bind="midWinRateHistory.WinCount"></td>
                                <td><input type="text" @bind="midWinRateHistory.LoseCount"></td>
                            </tr>
                            <tr>
                                <td>Adc</td>
                                <td><input type="text" @bind="adcWinRateHistory.WinCount"></td>
                                <td><input type="text" @bind="adcWinRateHistory.LoseCount"></td>
                            </tr>
                            <tr>
                                <td>Support</td>
                                <td><input type="text" @bind="supWinRateHistory.WinCount"></td>
                                <td><input type="text" @bind="supWinRateHistory.LoseCount"></td>
                            </tr>
                            </tbody>
                        </table>
                        <button type="button" class="btn btn-warning" @onclick="@EditUserAsync">수정 완료</button>
                    </div>
                }
            </div>
        </main>
    </div>
</div>

<Footer></Footer>

@code
{
    
}

@code
{
    
}
*@
